<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>疫情监控</title>
    <link href="../static/css/main.css" rel="stylesheet">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/echarts.js"></script>
    <script src="../static/js/china.js"></script>

</head>
<body>
    <div id="title">新冠疫情实时追踪</div>
    <div id="tim">時間</div>
    <div id="l1">
        <h2></h2>
        <h2></h2>
        <h2></h2>
        <h2></h2>
        <h2></h2>
    </div>
    <div id="l2">左二</div>
    <div id="z1">
        <div class="num"><h1></h1></div>
        <div class="num"><h1></h1></div>
        <div class="num"><h1></h1></div>
        <div class="num"><h1></h1></div>
        <div class="txt"><h3>现有确诊</h3></div>
        <div class="txt"><h3>无症状</h3></div>
        <div class="txt"><h3>现有疑似</h3></div>
        <div class="txt"><h3>现有重症</h3></div>
        <br>
        <div class="num"><h1></h1></div>
        <div class="num"><h1></h1></div>
        <div class="num"><h1></h1></div>
        <div class="num"><h1></h1></div>
        <div class="txt"><h3>累计确诊</h3></div>
        <div class="txt"><h3>境外输入</h3></div>
        <div class="txt"><h3>累计治愈</h3></div>
        <div class="txt"><h3>累计死亡</h3></div>
    </div>
    <!--图表-->

    <div id="r1">右一</div>
    <div id="r2">右二</div>

    
<script>
    function getTime() {
        $.ajax({
            url:"/time",
            timeout:1000,
            success:function (data) {
                $("#tim").html(data)
            },
            error:function () {
                alert("请求异常")
            }
        })
    }
    function get_cx_data(){
        $.ajax({
            url: "/cx",
            success:function (data) {
                $("#z1 h1").eq(0).text(data.xy_Diag);
                $("#z1 h1").eq(1).text(data.no_symptom);
                $("#z1 h1").eq(2).text(data.xy_suspect);
                $("#z1 h1").eq(3).text(data.xy_illness);
                $("#z1 h1").eq(4).text(data.lj_Diag);
                $("#z1 h1").eq(5).text(data.jwsr);
                $("#z1 h1").eq(6).text(data.lj_cure);
                $("#z1 h1").eq(7).text(data.dead);
            },
            error:function () {
                alert("改变异常")
            }
        })
    }
    function get_hotsearch(){
        $.ajax({
            url:"/rs",
            success:function (data) {
                $("#l1 h2").eq(0).append(data.content1);
                $("#l1 h2").eq(1).append(data.content2);
                $("#l1 h2").eq(2).append(data.content3);
                $("#l1 h2").eq(3).append(data.content4);
                $("#l1 h2").eq(4).append(data.content5);
            }
        })
    }
    setInterval(getTime,1000)
    setInterval(get_cx_data,1000)

    get_hotsearch()
</script>
</body>
</html>